@import "common/colors";
@import "common/data-uris";

// Sound by Marek Polakovic from the Noun Project
// https://thenounproject.com/search/?q=sound&i=120755

* {
  box-sizing: border-box;
}

html {
  font-size: 36px;
  background: $butter;
}

body {
  background: $butter;
  color: $black;
  font-family: "ff-enzo-web",sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
}

@import "common/elements";
@import "common/button";
@import "common/bubble";
@import "common/radial";

@import "components/Circle";
@import "components/BigSyllable";
@import "components/BigText";
@import "components/BigJamo";
@import "components/JamoTable";
@import "components/SoundButton";
@import "components/YouAreHere";
@import "components/Constellation";
@import "components/CourseIndex";
@import "components/App";
@import "components/Landing";
@import "components/Level";
@import "components/LevelIntro";
@import "components/RoundIntro";
@import "components/RoundLetters";
@import "components/RoundLetter";
@import "components/RoundHeadword";
@import "components/RoundReady";
@import "components/RoundLearn";
@import "components/LearnResponseForm";
@import "components/RoundComplete";