@import "common/colors";

* {
  box-sizing: border-box;
}

html {
  font-size: 24px;
  background: $alabaster;
}

body {
  background: $alabaster;
  color: $black;
  font-family: "ff-enzo-web",sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

@import "common/radial";

@import "components/App";
@import "components/Landing";
@import "components/Level";