.bubble {
  display: block;
  border-radius: 300px;
  background: $red;
  color: #fff;
  font-weight: 700;
  text-align: center;
  width: 66px;
  height: 66px;
  line-height: 66px;
  font-size: 44px;

  &--blue {
    background: $blue;
  }

  &--dark {
    background: $darkRed;
  }
}