.bubble {
  display: block;
  border-radius: 300px;
  background: $red;
  color: #fff;
  font-weight: 700;
  text-align: center;
  width: 1.8333rem;
  height: 1.8333rem;
  line-height: 1.8333rem;
  font-size: 1.2222rem;
  white-space: nowrap;

  &--blue {
    background: $blue;
  }

  &--dark {
    background: $darkRed;
  }
}