.button,
button {
  padding: 10px 12px;
  line-height: 18px;
  background: $blueTranslucent;
  color: $blue;
  font-family: inherit;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  white-space: nowrap;

  @include phone {
    font-size: 16px;
    line-height: 16px;
  }

  &:active {
    opacity: 0.85;
  }

  .can-hover &:hover {
    text-decoration: none;
  }

  &--red {
    color: $red;
    background-color: $redTranslucent;
  }

  &--green {
    color: $green;
    background-color: $greenTranslucent;
  }

  &--facebook,
  &--twitter {
    &:before {
      content: '';
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      margin-right: 0.5em;
      vertical-align: -0.4em;
      background-image: url($facebookLogo);
      background-size: 100% 100%;
    }
  }

  &--facebook {
    color: $facebook;
    background-color: rgba($facebook, 0.2);
  }

  &--twitter {
    color: $twitter;
    background-color: rgba($twitter, 0.2);

    &:before {
      background-image: url($twitterLogo);
    }
  }

  &--link {
    background-color: transparent;
    font-size: 14px;
  }

  &--forward:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background-image: url($blueArrow);
    background-position: center right;
    height: 15px;
    width: 40px;
    margin-left: 12px;
    transition: width 0.06s ease-out;

    @include phone {
      background-size: 80px 12px;
      height: 12px;
    }
  }

  &--red:after {
    background-image: url($redArrow);
  }

  &--green:after {
    background-image: url($greenArrow);
  }

  .can-hover &--forward:hover::after {
    width: 52px;
  }

  &--back:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background-image: url($blueArrowLeft);
    background-position: center left;
    height: 15px;
    width: 20px;
    margin-right: 12px;
    transition: width 0.06s ease-out;

    @include phone {
      background-size: 80px 12px;
      height: 12px;
    }
  }
}

.back-forward-buttons {
  @include phone {
    position: fixed !important;
    text-align: center !important;
    left: 0 !important;
    right: 0 !important;
    top: auto !important;
    bottom: 0 !important;
    background: rgba($butter, 0.9);
    padding: 9px !important;
    z-index: 200;
    transform: none !important;
    width: auto !important;
    min-height: 54px;
    margin: 0 !important;

    .button {
      &--forward,
      &--back {
        display: block !important;
        position: absolute !important;
        top: 9px !important;
        transform: none !important;
      }

      &--forward {
        right: 9px !important;
        left: auto !important;
      }

      &--back {
        left: 9px !important;
        right: auto !important;
      }

      &:nth-child(2) {
        margin-left: 1rem;
      }
    }
  }
}