.button,
button {
  padding: 10px 12px;
  line-height: 18px;
  background: $blueTranslucent;
  color: $blue;
  font-family: inherit;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 5px;

  &--red {
    color: $red;
    background-color: $redTranslucent;
  }

  &--green {
    color: $green;
    background-color: $greenTranslucent;
  }

  &--forward:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background-image: url($blueArrow);
    background-position: center right;
    height: 15px;
    width: 40px;
    margin-left: 12px;
    transition: width 0.06s ease-out;
  }

  &--red:after {
    background-image: url($redArrow);
  }

  &--green:after {
    background-image: url($greenArrow);
  }


  &--forward:hover::after {
    width: 52px;
  }
}