$black: #2d2b29;
$white: #ffffff;
$butter: #f9f5ea;
$red: #ee1a60;
$redTranslucent: rgba(238, 26, 96, 0.2);
$darkRed: #b70d4e;
$blue: #367add;
$blueTranslucent: rgba(54, 122, 221, 0.2);
$purple: #715bc1;
$fire: #e55555;
$green: #5bd8ae;
