.radial {
  position: relative;

  @include phone {
    min-height: 480px;
  }

  @include tablet-and-desktop {
    min-height: 600px;
  }

  & > * {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}