<!DOCTYPE html>
<html>
<head>
  <title>Happily Hangul</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
</head>
<body>
  Hello
  <script src="/js/app.js"></script>
</body>
</html>