<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Learn to read Hangul, the Korean alphabet | Let’s Learn Hangul!</title>
  <meta name="description" content="Learn how to read Korean in about an hour. Really. Let’s Learn Hangul is a free game to teach you Hangul (Hangeul), the Korean alphabet." />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@letslrnhangul" />
  <meta name="twitter:title" content="Learn to read the Korean alphabet" />
  <meta name="twitter:description" content="Learn how to read Korean in about an hour. Really. Let’s Learn Hangul! is a free game to teach you Hangul (Hangeul), the Korean alphabet." />
  <meta name="twitter:image" content="http://letslearnhangul.com/images/lets-learn-hangul-square.png" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Learn how to read Korean in about an hour. Really. Let’s Learn Hangul! is a free game to teach you Hangul (Hangeul), the Korean alphabet." />
  <meta property="og:title" content="Learn to read Hangul, the Korean alphabet | Let’s Learn Hangul!" />
  <meta property="og:url" content="http://letslearnhangul.com" />
  <meta property="og:image" content="http://letslearnhangul.com/images/lets-learn-hangul-square.png" />

  <script src="https://use.typekit.net/xsl3pam.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.slim.min.js"></script>
  <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css'>
  <link rel='stylesheet' type='text/css' href='/css/<%= env === 'production' ? 'app.min.css' : 'app.css' %>'>
</head>
<body>
  <div id='mount'>
    <% if (typeof html !== 'undefined') { %>
      <%- html %>
    <% } %>
  </div>

  <script src='/js/<%= env === 'production' ? 'app.min.js' : 'app.js' %>'></script>
  <% if (env === 'production') { %>
  <script src='/js/autotrack.js'></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-81188808-1', 'auto');

    ga('require', 'eventTracker');
    ga('require', 'outboundLinkTracker');
    ga('require', 'cleanUrlTracker');
    ga('require', 'pageVisibilityTracker');
    ga('require', 'urlChangeTracker');

    ga('send', 'pageview');
  </script>
  <% } %>
</body>
</html>