<!DOCTYPE html>
<html>
<head>
  <title>Let’s Learn Hangul</title>
  <script src="https://use.typekit.net/xsl3pam.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.slim.min.js"></script>
  <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css'>
  <link rel='stylesheet' type='text/css' href='/css/<%= env === 'production' ? 'app.min.css' : 'app.css' %>'>
</head>
<body>
  <div id='mount'></div>
  <script src='/js/<%= env === 'production' ? 'app.min.js' : 'app.js' %>'></script>
</body>
</html>