@keyframes scale-in {
  0% {
    transform: scale(0);
  }
  66% {
    transform: scale(1);
  }
  83% {
    transform: scale(.9);
  }
  100% {
    transform: scale(1);
  }
}

.jamo-table {
  width: 1000px;

  @include phone {
    width: 100%;
  }

  &__jamo {
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
    cursor: pointer;

    @include phone {
      width: 20%;
      height: 2rem;
    }

    .geometric-jamo {
      position: relative;
      left: 20px;
      top: 20px;
      width: 60px;
      height: 60px;
      z-index: 5;

      @include phone {
        top: .4rem;
        left: 20%;
        width: 60%;
        height: 1.2rem;
      }
    }

    &__latin {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      font-weight: 900;
      color: $red;
      font-size: .8888rem;
      pointer-events: none;
      opacity: 0;

      &.vowel {
        color: $blue;
      }
    }

    .can-hover &:hover,
    &.touched {
      .jamo-table__jamo__latin {
        opacity: 1;
      }

      .geometric-jamo {
        opacity: 0;
      }
    }
  }

  &__jamo--unknown {
    opacity: 0.1;
  }

  &__jamo--new {
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 10px;
      top: 10px;
      width: 80px;
      height: 80px;
      background: #fff;
      border-radius: 80px;
      animation: scale-in .72s both;
      animation-delay: inherit;

      @include phone {
        left: 20%;
        top: 50%;
        margin-top: -30%;
        width: 60%;
        height: 0;
        padding-bottom: 60%;
      }
    }
  }
}