.jamo-table {
  width: 1000px;

  &__jamo {
    position: relative;
    float: left;
    width: 100px;
    height: 100px;

    .geometric-jamo {
      position: relative;
      left: 20px;
      top: 20px;
      width: 60px;
      height: 60px;
      z-index: 5;
    }
  }

  &__jamo--unknown {
    opacity: 0.1;
  }

  &__jamo--new {
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 10px;
      top: 10px;
      width: 80px;
      height: 80px;
      background: #fff;
      border-radius: 80px;
    }
  }
}