@keyframes scale-in {
  0% {
    transform: scale(0);
  }
  66% {
    transform: scale(1);
  }
  83% {
    transform: scale(.9);
  }
  100% {
    transform: scale(1);
  }
}

.jamo-table {
  width: 1000px;

  &__jamo {
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
    cursor: pointer;

    .geometric-jamo {
      position: relative;
      left: 20px;
      top: 20px;
      width: 60px;
      height: 60px;
      z-index: 5;
    }

    &__latin {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      font-weight: 900;
      color: $red;
      font-size: 32px;
      pointer-events: none;
      opacity: 0;

      &.vowel {
        color: $blue;
      }
    }

    &:hover {
      .jamo-table__jamo__latin {
        opacity: 1;
      }

      .geometric-jamo {
        opacity: 0;
      }
    }
  }

  &__jamo--unknown {
    opacity: 0.1;
  }

  &__jamo--new {
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 10px;
      top: 10px;
      width: 80px;
      height: 80px;
      background: #fff;
      border-radius: 80px;
      animation: scale-in .72s both;
      animation-delay: inherit;
    }
  }
}