.level__intro {
  @extend .radial;
  margin-top: 1rem;

  &__inner {
    width: 500px;
    transform: translateX(-104px) translateY(-57%);
  }

  h1 {
    font-weight: 600;
    text-transform: uppercase;
    width: 20px;
  }

  &__level {
    transform: translateX(-193px) translateY(-200px);
  }

  &__level-label {
    transform: translateX(-230px) translateY(-184px);
  }

  &__circle {
    width: 460px;
    height: 460px;
  }

  .button {
    transform: translateX(110px) translateY(140px);
  }

  .button--back {
    margin-left: -110px;
  }

  &__calligraphy {
    width: 260px;
    height: 260px;
    transform: translateX(-545px) translateY(-310px);

    .circle {
      margin: 37px;
    }

    img {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}