.logo {
  @extend .radial;
  position: absolute;
  display: block;
  left: 5px;
  top: 10px;
  width: 140px;
  height: 140px;
  min-height: 0;
  color: inherit;
  font-size: 22px;
  line-height: 24px;
  z-index: 10;

  @include phone {
    width: 80px;
    height: 80px;
    top: 0px;
    left: -5px;
    font-size: 14px;
    line-height: 16px;
  }

  .circle {
    @include phone {
      width: 54px;
      height: 54px;
    }
  }

  &__english {
    display: none;
    transform: translateX(-33%) translateY(-50%);
  }

  &__korean {
    transform: translateX(-57%) translateY(-53%);

    @include phone {
      width: 80px;
      height: 80px;
    }
  }

  &__beta-tag {
    position: absolute;
    top: 34%;
    left: 93%;
    font-size: 12px;
    line-height: 12px;
    padding: 4px 6px;
    font-weight: 900;
    border-radius: 3px;
    color: $red;
    background: $redTranslucent;
    text-transform: uppercase;
    opacity: 0.7;

    @include phone {
      display: none;
    }
  }

  .can-hover &:hover {
    .logo__english { display: block; }
    .logo__korean { display: none; }
  }
}