.round__intro {
  @extend .radial;
  margin-top: 1rem;

  @include phone {
    & > * {
      top: 265px;
    }
  }

  &__inner {
    width: 500px;
    transform: translateX(-104px) translateY(-57%);

    @include phone {
      width: 88%;
      transform: translateX(-43.75%) translateY(-57%);
    }
  }

  h1 {
    font-weight: 600;
    text-transform: uppercase;
    width: 20px;
  }

  &__round {
    transform: translateX(-193px) translateY(-200px);

    @include phone {
      transform: translateX(50%) translateY(-168px);
    }
  }

  &__round-label {
    transform: translateX(-235px) translateY(-184px);

    @include phone {
      transform: translateX(-5px) translateY(-157px);
    }
  }

  &__circle {
    width: 460px;
    height: 460px;

    @include phone {
      width: 400px;
      height: 400px;
      left: 20%;
    }
  }

  &__buttons {
    transform: translateX(110px) translateY(140px);

    .button--back {
      position: absolute;
      left: -20px;
      top: 0;
      transform: translateX(-100%);
    }
  }
}