.round__complete {
  @extend .radial;
  width: 1000px;

  @include desktop {
    margin-left: -50px;
    height: 600px;
  }

  @include tablet {
    margin-left: 40px;
    top: 300px;
    height: 600px;
    width: auto;
  }

  @include phone {
    width: auto;
  }

  .transition-group {
    display: block;
    width: 100%;
  }

  &__title {
    left: 54%;
    width: 298px;
    height: 298px;
    transform: translateX(-73%) translateY(-155%);

    @include phone {
      left: 50%;
      top: 280px;
      width: 180px;
      height: 180px;
      transform: translateX(-65%) translateY(-140%);
    }

    @include small-desktop {
      left: 50%;
      transform: translateX(-85%) translateY(-85%);
    }

    &__inner {
      position: relative;
      padding-left: 149px;
      padding-top: 98px;
      z-index: 1;

      @include phone {
        padding-left: 90px;
        padding-top: 49px;
      }
    }

    h1,
    h2 {
      margin: 0;
      text-transform: uppercase;
      font-size: 1rem;
      line-height: 1rem;
    }

    h1 {
      color: $blue;
    }

    h2 {
      margin-left: -0.19rem;
      font-weight: 600;
      white-space: nowrap;
    }

    .circle {
      position: absolute;
      left: 0;
      top: 0;

      @include phone {
        width: 180px;
        height: 180px;
      }
    }

    .calligraphy {
      display: block;
      position: absolute;
      left: -90px;
      top: 10px;

      @include phone {
        width: 100px;
        height: 100px;
        left: -20px;
        top: 37px;
      }

      @include small-desktop {
        width: 180px;
        height: 180px;
        left: -50px;
        top: 50px;
      }
    }
  }

  &__words,
  &__time,
  &__misses,
  &__peeks {
    left: 54%;
    font-size: 1.5rem;

    @include phone {
      left: 50%;
      top: 280px;
    }

    label {
      position: absolute;
      left: -20px;
      top: 11px;
    }

    .value {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      text-align: center;
      line-height: 1em;
      color: $blue;
      font-weight: 900;

      &.negative {
        color: $red;
      }
    }
  }

  &__words {
    transform: translateX(0%) translateY(-105%);

    @include phone {
      transform: translateX(-85%) translateY(-39%);
    }

    @include tablet {
      transform: translateX(-180%) translateY(-105%);
    }

    @include small-desktop {
      transform: translateX(60%) translateY(-135%);
    }

    .circle {
      width: 4.05rem;
      height: 4.05rem;
    }
  }

  &__time {
    font-size: 1.1111rem;
    transform: translateX(-80%) translateY(55%);

    @include phone {
      transform: translateX(54%) translateY(-95%);
    }

    @include tablet {
      transform: translateX(-50%) translateY(-112%);
    }

    @include small-desktop {
      transform: translateX(12%) translateY(8%);
    }

    .circle {
      width: 3.2222rem;
      height: 3.2222rem;
    }
  }

  &__misses {
    font-size: .8888rem;
    transform: translateX(320%) translateY(-105%);

    @include phone {
      transform: translateX(-52%) translateY(171%);
    }

    @include tablet {
      transform: translateX(-147%) translateY(12%);
    }

    @include small-desktop {
      transform: translateX(-390%) translateY(115%);
    }

    .circle {
      width: 2.1111rem;
      height: 2.1111rem;
    }

    label {
      top: -2px;
      left: -33px;
    }
  }

  &__peeks {
    font-size: 1.1111rem;
    transform: translateX(140%) translateY(67%);

    @include phone {
      transform: translateX(60%) translateY(53%);
    }

    @include tablet {
      transform: translateX(20%) translateY(35%);
    }

    @include small-desktop {
      transform: translateX(-140%) translateY(110%);
    }

    .circle {
      width: 2.6111rem;
      height: 2.6111rem;
    }

    label {
      top: 0;
    }
  }

  &__continue {
    // transform: translateX(110px) translateY(140px);
  }

  .jamo-table {
    margin-top: 20px;

    @include tablet {
      margin-top: -220px;
    }

    @include phone {
      margin-top: 110px;
    }
  }

  &__top {
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -465px;
    transform: none;

    @include tablet {
      top: -130px;
      left: 0;
      margin-left: 0;
    }

    @include phone {
      margin-left: 0;
      left: 1rem;
      top: 1rem;
    }

    .circle {
      position: absolute;
      top: -204px;
      left: -152px;
      width: 304px;
      height: 304px;
    }

    label {
      color: $blue;
      margin-bottom: 0;
    }

    label,
    p {
      position: relative;
      z-index: 5;
    }
  }
  
  &__review {
    margin-top: -210px;
    display: flex;
    justify-content: center;

    &__jamo {
      width: 180px;
      height: 140px;
      position: relative;

      @include phone {
        width: 140px;
        height: 125px;
      }

      & > * {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
      }

      .circle {
        @include phone {
          width: 91px;
          height: 91px;
          left: 25px;
        }
      }

      .big-jamo {
        top: .5555rem;
        left: .5555rem;
        width: 2.7777rem;
        height: 2.7777rem;

        @include phone {
          left: 34px;
          top: 9px;
        }
      }

      .bubble {
        left: 2.7777rem;
        top: 2.7777rem;
        width: 1.5rem;
        height: 1.5rem;
        font-size: .5rem;
        line-height: 1.5rem;

        @include phone {
          left: 91px;
          top: 66px;
        }
      }
    }
  }
  
  &__continue,
  &__continue-bottom {
    display: block;
    position: absolute;
    transform: none;
    top: 550px;
    left: 50%;
    margin-left: 335px;

    @include tablet {
      top: 160px;
      margin-left: 20px;
    }
  }
}