.round__complete {
  @extend .radial;

  width: 1000px;
  height: 600px;
  margin-left: -50px;

  &__inner {
    width: 500px;
    transform: translateX(-104px) translateY(-57%);
  }

  h1 {
    font-weight: 600;
    text-transform: uppercase;
    width: 20px;
  }

  &__round {
    transform: translateX(-193px) translateY(-200px);
  }

  &__round-label {
    transform: translateX(-235px) translateY(-184px);
  }

  &__circle {
    width: 460px;
    height: 460px;
  }

  &__continue {
    transform: translateX(110px) translateY(140px);
  }

  .jamo-table {
    margin-top: 20px;
  }

  &__top {
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -465px;
    transform: none;

    .circle {
      position: absolute;
      top: -204px;
      left: -152px;
      width: 304px;
      height: 304px;
    }

    label {
      color: $green;
      margin-bottom: 0;
    }

    label,
    p {
      position: relative;
      z-index: 5;
    }
  }
  
  &__review {
    display: flex;
    justify-content: center;
    
    &__jamo {
      width: 180px;
      height: 140px;
      position: relative;

      & > * {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
      }

      .big-jamo {
        top: 20px;
        left: 20px;
        width: 100px;
        height: 100px;
      }

      .bubble {
        left: 100px;
        top: 100px;
        width: 54px;
        height: 54px;
        font-size: 18px;
        line-height: 54px;
      }
    }
  }

  &__continue-bottom {
    display: block;
    position: absolute;
    transform: none;
    top: 550px;
    left: 50%;
    margin-left: 335px;
  }
}