.round__letters {
  position: relative;
  margin-top: 130px;

  @include tablet {
    margin-top: 160px;
  }

  @include phone {
    margin-top: 100px;
    padding-bottom: 80px;
  }

  &__text {
    text-align: center;
    text-indent: -220px;

    @include phone {
      text-indent: 0;
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;

    @include phone {
      margin-top: 30px;
    }
  }

  &__jamo {
    width: 180px;
    height: 140px;
    position: relative;

    @include phone {
      width: 140px;
      height: 125px;
    }

    & > * {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
    }

    .circle {
      @include phone {
        width: 91px;
        height: 91px;
        left: 25px;
      }
    }

    .big-jamo {
      top: .5555rem;
      left: .5555rem;
      width: 2.7777rem;
      height: 2.7777rem;

      @include phone {
        left: 34px;
        top: 9px;
      }
    }

    .bubble {
      left: 2.7777rem;
      top: 2.7777rem;
      width: 1.5rem;
      height: 1.5rem;
      font-size: .5rem;
      line-height: 1.5rem;

      @include phone {
        left: 91px;
        top: 66px;
      }
    }
  }

  &__buttons {
    position: absolute;
    top: 345px;
    left: 50%;
    margin-left: 120px;

    @include tablet {
      margin-left: 0;
      top: 475px;
      transform: translateX(-50%);
    }

    .button--back {
      margin-right: 20px;
    }
  }
}